
@{
    ViewBag.Title = "ErrorAcceso";
}

<h2 style="color:red">Error de Acceso</h2>
    
<p>posiblemente no ha iniciado sesión, o no tiene permisos para usar esta aplicación. </p>
<p>en caso de no ser así por favor comuniquese con el administrador. </p>
