@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error mientras ejecutaba una tarea.</h2>

@{

    var message = TempData["AlertMessage"] ?? string.Empty;

}

<script type="text/javascript">
    var message = '@message';

    if(message) alert(message);

</script>