<h3>@ViewBag.Message</h3>

<p>
    Acerca de...
    GESTCOR, (Gestor de cortes Masivos), Esta aplicación web es desarrollada para uso interno de TVCable,
    con el fin de facilitar la carga masiva de cuentas, por medio de un reporte obtenido desde QlikView,
    con cual se podrá filtrar con diversos criterios de selección, las cuentas de Clientes que deben ingresar
    al proceso de normal cortes; realizado desde TITAN.
</p>
<a href="#">Manual de usuario</a>
<p>Versión: 1.0  2018-TVCable</p>
