@{
    ViewBag.Title = "GestCor";
}

<div>
    <ul class="col-lg-12 col-md-12 ca-menu">
        <li  class="col-lg-2 col-lg-offset-4 ">
            <a href="ProgramaCorte">
                <span class="ca-icon"> <img src="~/Content/Img/calendarCut.png" /> </span>
                <div class="ca-content">
                    <h2 class="ca-main">Cortes</h2>
                    <h3 class="ca-sub">Administración de cortes</h3>
                </div>
            </a>
        </li>
        <li class="col-lg-2">
            <a href="CorreoNotificaciones">
                <span class="ca-icon"><img src="~/Content/Img/mail.png" /> </span>
                <div class="ca-content">
                    <h2 class="ca-main">Notificaciones</h2>
                    <h3 class="ca-sub">Administración de notificaciones</h3>
                </div>
            </a>
        </li>
        <li class="col-lg-2">
            <a href="CondicionesCorte">
                <span class="ca-icon"> <img src="~/Content/Img/condition.png" /> </span>
                <div class="ca-content">
                    <h2 class="ca-main">Condiciones</h2>
                    <h3 class="ca-sub">Administración de condiciones</h3>
                </div>
            </a>
        </li>
        <li class="col-lg-2">
            <a href="ControlGestCorService">
                <span class="ca-icon"> <img src="~/Content/Img/configuration.png" /> </span>
                <div class="ca-content">
                    <h2 class="ca-main">Configuración</h2>
                    <h3 class="ca-sub">Configuración de la aplicación</h3>
                </div>
            </a>
        </li>
        <li class="col-lg-2">
            <a href="Home">
                <span class="ca-icon"> <img src="~/Content/Img/notification.png" /></span>
                <div class="ca-content">
                    <h2 class="ca-main">Acerca de</h2>
                    <h3 class="ca-sub">Información acerca de la aplicación</h3>
                </div>
            </a>
        </li>
    </ul>
</div>