<h2>Calendarización de cortes</h2>

@using (Html.BeginForm("Upload", "ProgramaCorte", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default" />
    </div>
}


<div>
    @Html.ActionLink("Volver", "Index")
</div>
